.task-container {
    width: 100%;
    display: flex;
}

.task {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin: 5px 0;
    width: 100%;
    box-shadow: 0 0 1px 0 #ccc;
    backdrop-filter: blur(4px);
    border-radius: 16px;
}

.task-menu-open {
    position: relative;
    z-index: 3;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.task-dragging {
    border-radius: 16px;
    padding: 0 5px;
}

.task-dragging-active {
    outline: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
}

.column-dragging-over-active .task {
    background-color: transparent;
    outline: 1px solid #ccc;
}

.task h3 {
    margin: 0;
}

.label-container {
    display: flex;
}

.label-container .label {
    padding: 6px;
    background-color: #feeae5;
    margin-right: 8px;
    border-radius: 6px;
}
