.modal-labels {
    display: flex;
    margin-bottom: 10px;
}

.modal-label {
    margin-right: 8px;
    cursor: pointer;
}

.modal-label-selected .label-text-container {
    background: var(--label-bg-parent-selected);
    border: var(--label-border-selected);
}

.modal-label .label-text-container {
    padding: 3px;
    border-radius: 6px;
}

.modal-label .label-text {
    background-color: var(--label-bg);
    padding: 8px;
    border-radius: 6px;
}
