.main {
    width: 100lvw;
    height: 100lvh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main h1 {
    font-size: 16lvw;
    font-weight: 300;
}

.main p {
    font-size: 1.4lvw;
    font-weight: 300;
}

.main a {
    display: block;
    width: 100%;
    font-size: 1lvw;
    text-decoration: none;
    color: var(--text-color-link);
}
