* {
    font-family: "Open Sans", sans-serif;
}

body {
    color: #333;
    margin: 0;
    background: linear-gradient(135deg, rgba(209, 250, 229, 1) 0%, rgba(255, 228, 230, 1) 50%, rgba(237, 233, 254, 1) 100%);
}

main {
    padding-top: calc(var(--header-height) + 36px);
}

.color-danger {
    color: #b91c1c;
}

@media screen and (min-width: 1024px) {
    main {
        padding-top: 0;
    }
}
