:root {
    --text-color-main: #35373a;
    --background-color-light: #fff;
    --background-color-main: #f7f9fa;
    --background-color-darker: #f3f3f5;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
}

body {
    color: var(--text-color-main);
    margin: 0;
    background: var(--background-color-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
