* {
    font-family: "Open Sans", sans-serif;
}

body {
    color: var(--text-color);
    margin: 0;
    background: var(--background);
}

main {
    padding-top: calc(var(--header-height) + 36px);
}

.color-danger {
    color: var(--danger-color);
}

@media screen and (min-width: 1024px) {
    main {
        padding-top: 0;
    }
}
