.modal-container {
    border: 0;
    padding: 0;
}

.modal {
    padding: 20px;
    background-color: #fafafa;
}

.modal-container::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal h1 {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    .modal {
        padding: 60px;
    }
}
