.modal-container {
    border: 0;
    padding: 0;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(16px);
}

.modal {
    padding: 20px;
    background-color: transparent;
}

.modal input,
.modal textarea {
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px solid #ddd;
    padding: 6px;
    border-radius: 12px;
}

.modal input:focus-within,
.modal textarea:focus-within {
    background-color: transparent;
    outline: none;
    border: 2px solid #fff;
}

.modal-container::backdrop {
    backdrop-filter: blur(4px);
}

.modal h1 {
    margin-top: 0;
    background: linear-gradient(90deg, #164e63 0%, #1e3a8a 50%, #581c87 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .modal {
        padding: 60px;
    }

    .modal-container {
        min-width: 30%;
    }
}
