.modal-container {
    border: 0;
    padding: 0;
    border-radius: var(--modal-radius);
    background-color: var(--modal-bg);
    backdrop-filter: blur(16px);
}

.modal {
    padding: 20px;
    background-color: var(--modal-bg);
}

.modal input,
.modal textarea {
    background-color: var(--modal-input-bg);
    border: var(--modal-input-border);
    padding: var(--modal-input-padding);
    border-radius: var(--modal-input-radius);
}

.modal input:focus-within,
.modal textarea:focus-within {
    background-color: var(--modal-input-bg-active);
    outline: none;
    border: var(--modal-input-border-active);
}

.modal-container::backdrop {
    backdrop-filter: blur(4px);
}

.modal h1 {
    margin-top: 0;
    background: var(--modal-name-bg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .modal {
        padding: 60px;
    }

    .modal-container {
        min-width: 30%;
    }
}
