.dummy-column {
    background-color: var(--dummy-column-bg);
    border: 2px dashed #999;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dummy-column-buttons {
    text-align: center;
}

.dummy-column-buttons svg {
    font-size: 1.8em;
}

.dummy-column-buttons p {
    margin: 0;
}
